# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Deploy Artifacts
*.zip
*_dump.json
deploy_app.ps1
deploy_app.bat
deploy_putty.bat
deploy_putty.ps1
deploy_vps.sh
